.loginList {
  width: 40%;
  background: #eee;
  padding: 3rem 7rem 3rem 7rem;
}

body {
  background-image: url("../img/background_landing_page.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.border-radius-2 {
  border-radius: 2rem;
}

.loginInput {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #eb5f36;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 3px 2px rgb(73 73 73 / 20%);
}

.btn-primary {
  background-color: #054d50;
}

.btn-primary:hover {
  background-color: #0b8b90;
}
@media print{
  .noPrint {
    display: none;
  }
}


.printPage {
  width: 100%;
}
