.danger {
  background-color: #dc3545 !important;
}
.mat-column-fix {
  width:10%
}
.mat-column-image {
  text-align: center;
}
.mat-column-right {
  text-align: center;
}
.mat-column-student {
  text-align: center;
}
.loginInput {
  margin-top: 2rem;
}
