<div class="pt-5">
  <div class="mt-5 m-auto loginList text-center border-radius-2">
    <h4>登入</h4>
    <div class="row">
      <input type="text" [(ngModel)]="account" class="test loginInput border-radius-2 mb-3 mt-2" placeholder="帳號">
    </div>
    <div class="row">
      <input type="password" [(ngModel)]="password" class="loginInput border-radius-2" placeholder="密碼">
    </div>
    <div class="row">
      <button (click)='login()' class="btn btn-primary border-radius-2">登入</button>
    </div>
  </div>
</div>
