<div class="pt-5">
  <div class="mt-5 m-auto loginList text-center border-radius-2">
    <h4>資料篩選</h4>
    <div class="row">
      <select [(ngModel)]="one" class="loginInput" #t (change)="changeName(t.value)">
        <option  *ngFor="let c of filters1" [value]="c">{{c}}</option>
      </select>
      <select class="loginInput mt-3" [(ngModel)]="gend1" *ngIf="one == '性別'">
        <option  *ngFor="let c of filters3" [value]="c">{{c}}</option>
      </select>
      <select class="loginInput mt-3" [(ngModel)]="topics1" *ngIf="one == '作答大題'">
        <option  *ngFor="let c of topic1" [value]="c">{{c}}</option>
      </select>
      <input *ngIf="one != '性別' && one != '作答大題'" [(ngModel)]="oneAns" [disabled]="none ? true : false" type="text" class="loginInput mt-3">
    </div>
    <div class="row mt-3">
      <select #d [(ngModel)]="two" (change)="non(d.value)" [disabled]="none ? true : false" class="loginInput">
        <option  *ngFor="let c of filters2" [value]="c">{{c}}</option>
      </select>
      <select class="loginInput mt-3 gender" [(ngModel)]="gend2" *ngIf="two == '性別'">
        <option  *ngFor="let c of filters3" [value]="c">{{c}}</option>
      </select>
      <select class="loginInput mt-3" [(ngModel)]="topics2" *ngIf="two == '作答大題'">
        <option  *ngFor="let c of topic2" [value]="c">{{c}}</option>
      </select>
      <input *ngIf="two != '性別' && two != '作答大題'" [(ngModel)]="twoAns" type="text"[disabled]="no ? true : false" class="loginInput mt-3">
    </div>
    <div class="row mt-3">
      <button (click)="search()" class="btn btn-primary">搜尋</button>
    </div>
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6">
        <button [routerLink]="['/main']" class="btn btn-primary">返回主畫面</button>
      </div>
    </div>
  </div>
</div>

<!--
    <div class="row">
      <select class="form-select" #t (change)="changeName(t.value)">
        <option  *ngFor="let c of StudentsData" [value]="c.name">{{c.name}}</option>
      </select>
    </div>

-->
