.loginList {
  padding-left: 1rem;
  padding-right: 1rem;
  width:60%;
}
.mat-column-name, .mat-column-studentId, .mat-column-school, .mat-column-grade, .mat-column-class, .mat-column-status, .mat-column-option {
  text-align: center;
}
