.loginList {
  padding-left: 1rem;
  padding-right: 1rem;
  width:90%;
}
.mat-column-name, .mat-column-school, .mat-column-grade, .mat-column-class, .mat-column-status {
  text-align: center;
}
.mat-column-name {
  text-align: left;
}
.mat-column-studentId {
  text-align: left;
}
.mat-column-school {
  text-align: left;
}
.mat-column-grade {
  text-align: left;
}
.mat-column-class {
  text-align: left;
}
