<div class="pt-5">
  <div class="mt-5 m-auto loginList text-center border-radius-2">
    <h4>新增學生資料</h4>
    <div class="row mt-3">
      <div class="col-12">
        <input type="text" [(ngModel)]="studentId" class="loginInput" placeholder="學號">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" [(ngModel)]="year" class="loginInput" placeholder="年度">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <input class="loginInput" [(ngModel)]="name" type="text" placeholder="姓名">
      </div>
      <div class="col-6">
        <select class="loginInput" [(ngModel)]="gender">
          <option value="true">
            男
          </option>
          <option value="false">
            女
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-6"><input [(ngModel)]="grade" class="loginInput" type="number" min="0" max="6" placeholder="年級"></div>
      <div class="col-6"><input [(ngModel)]="class" class="loginInput" type="text" placeholder="班級"></div>
    </div>
    <div class="row">
      <div class="col-6"><input [(ngModel)]="stuldentity" class="loginInput" min="0" type="number" placeholder="身份別"></div>
      <div class="col-6"><input [(ngModel)]="urbanization" class="loginInput" min="0" type="number" placeholder="都市化程度"></div>
    </div>
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6">
        <button (click)="uploadStudent()" class="btn btn-primary">新增</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6">
        <button [routerLink]="['/StudentInfo']" class="btn btn-primary">重新選擇資料</button>
      </div>
    </div>
  </div>
</div>
