<div class="pt-5">
  <div class="mt-5 m-auto loginList text-center border-radius-2">
    <h4>新建群組</h4>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-9">
        <!--<input type="text" [(ngModel)]="grade" class="loginInput border-radius-2 mb-3 mt-2" placeholder="年級">-->
        <select class="loginInput" [(ngModel)]="input">
          <option *ngFor="let item of year">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <input type="checkbox" id="cbox1" value="1" [(ngModel)]="a[0]" [checked]="a[0]">
        <label for="cbox1">圖形合成計數</label>
      </div>
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="2" [(ngModel)]="a[1]" [checked]="a[1]"></p>
        <label for="cbox1">數字分解</label>
      </div>
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="" [(ngModel)]="a[2]" [checked]="a[2]"></p>
        <label for="cbox1">數字分解2</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <input type="checkbox" id="cbox1" value="4" [(ngModel)]="a[3]" [checked]="a[3]">
        <label for="cbox1">圖形合成計數</label>
      </div>
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="5" [(ngModel)]="a[4]" [checked]="a[4]"></p>
        <label for="cbox1">數字分解</label>
      </div>
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="6" [(ngModel)]="a[5]" [checked]="a[5]"></p>
        <label for="cbox1">數字分解2</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="7" [(ngModel)]="a[6]" [checked]="a[6]"></p>
        <label for="cbox1">加減法</label>
      </div>
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="8" [(ngModel)]="a[7]" [checked]="a[7]"></p>
        <label for="cbox1">加法填空</label>
      </div>
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="9" [(ngModel)]="a[8]" [checked]="a[8]"></p>
        <label for="cbox1">比大小</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="10" [(ngModel)]="a[9]" [checked]="a[9]"></p>
        <label for="cbox1">數字序列</label>
      </div>
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="11" [(ngModel)]="a[10]" [checked]="a[10]"></p>
        <label for="cbox1">圖形序列</label>
      </div>
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="12" [(ngModel)]="a[11]" [checked]="a[11]"></p>
        <label for="cbox1">數值估計</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="13" [(ngModel)]="a[12]" [checked]="a[12]"></p>
        <label for="cbox1">數線估計</label>
      </div>
      <div class="col-4">
        <input type="checkbox" id="cbox1" value="14" [(ngModel)]="a[13]" [checked]="a[13]">
        <label for="cbox1">視覺工作記憶</label>
      </div>
      <div class="col-4">
        <input type="checkbox" id="cbox1" value="15" [(ngModel)]="a[14]" [checked]="a[14]">
        <label for="cbox1">視覺空間工作記憶</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <input type="checkbox" id="cbox1" value="16" [(ngModel)]="a[15]" [checked]="a[15]">
        <label for="cbox1">數字記憶廣度1</label>
      </div>
      <div class="col-4">
        <input type="checkbox" id="cbox1" value="17" [(ngModel)]="a[16]" [checked]="a[16]">
        <label for="cbox1">數字記憶廣度2</label>
      </div>
      <div class="col-4">
        <p><input type="checkbox" id="cbox1" value="18" [(ngModel)]="a[17]" [checked]="a[17]"></p>
        <label for="cbox1">文字廣度</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <button (click)="create()" class="btn btn-primary border-radius-2">建立</button>
      </div>
    </div>
  </div>
</div>
