<div class="pt-5">
  <div class="mt-5 m-auto loginList text-center border-radius-2">
    <h4>請選擇類別</h4>
    <div class="row mt-3">
      <div class="col-2"></div>
      <div class="col-4">
        <a [routerLink]="['/import']" class="btn btn-primary">學生資料匯入</a>
      </div>
      <div class="col-4">
        <a [routerLink]="['/StudentInfo']" class="btn btn-primary">查看學生資料</a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2"></div>
      <div class="col-4">
        <a [routerLink]="['/topic']"  class="btn btn-primary">題目資料</a>
      </div>
      <div class="col-4">
        <a [routerLink]="['/files']" class="btn btn-primary">測驗資料分析</a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2"></div>
      <div class="col-4">
        <button (click)="output()" class="btn btn-primary">匯出總作答總表</button>
      </div>
      <div class="col-4">
        <a [routerLink]="['/ansPage']" class="btn btn-primary">查詢學生作答</a>
      </div>
    </div>
  </div>
</div>
